In [10]:
import pandas as pd

from sklearn.cluster import KMeans

In [3]:
kms=KMeans(n_clusters=4)

In [6]:
!ls

ClusteringFinal.R        ClusteringFinalProject.R final_data.csv
ClusteringFinal.ipynb    final_data.Rdata

In [14]:
df=pd.read_csv('final_data.csv', index_col=0)

In [15]:
df.head()

,SEQN,AGE,EVER_SMOKE,ASTHMA,POVERTY_RATIO,X18,X19,X20,X21,X22,...,X303,X304,X305,X306,X307,X308,X309,X310,X311,X312
1,4,32,False,False,4.803,0,0,0,0,0,...,0,0,0,0,0,3,3,0,0,0
2,10,35,False,False,5.406,0,3,0,0,3,...,5,6,5,6,5,6,5,5,6,5
3,56,32,True,False,3.458,0,0,0,0,0,...,-3,-2,0,0,0,0,0,0,0,0
4,56,32,True,False,3.458,0,0,0,0,0,...,-3,-2,0,0,0,0,0,0,0,0
5,84,23,False,False,3.340,0,0,0,0,0,...,0,3,2,0,0,0,0,0,0,0